<!doctype html>
<html ng-app="blocChatApp">
  <head>
    <meta charset="utf-8">
    <title>Bloc-Chat</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>
  <body ng-controller="RoomCtrl">
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">blocChat</a>
        <a class="navbar-brand" href="#" ng-click="roomOpen()">New Room</a>
        <form class="form-inline">
          <div class="form-group">
            <label for="exampleInputName2">Name</label>
            <input type="text" class="msgbox" placeholder="Enter Message">
          </div>
          <button type="submit" class="btn btn-success">Send message</button>
        </form>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-2 sidebar">
        <h3>{{blocChatUser}}</h3>
          <h3>Room List</h3>
          <ul class="nav nav-sidebar" ng-repeat="rm in rooms">
            <li><a href="#" ng-click="openMessages(rm)">{{ rm.name }}</a></li>
          </ul>
        </div>
          <div class="col-md-10 col-md-offset-2 main">
          <div ng-repeat="message in messages" class="row" ng-class-odd="'odd'" ng-class-even="'even'">
              <div class="col-md-4 username">{{message.username}}</div>
              <div class="col-md-4"></div>
              <div class="col-md-4 sent-at">Sent: {{message.sentAt | fromNow}}</div>
              <div class="col-md-12">{{message.content}}</div>
          </div>

            <!-- Add Room Modal Window -->
            <script type="text/ng-template" id="roomDialog.html">
              <div class="modal-header">
                <h3 class="modal-title">Room Name</h3>
              </div>
              <form name="nameDialog" novalidate>
                <div class="modal-body form-group">
                  <input type="text" class="form-control" name="roomname" ng-model="room.name" ng-keyup="nameDialog.$valid ? hitEnter($event) : false" ng-minlength=3 ng-maxlength=20 required>
                </div>
              </form>

              <div class="modal-footer">
                <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
                <button ng-disabled="nameDialog.$invalid" class="btn btn-primary" ng-click="ok(room)">OK</button>
              </div>
            </script>
            <!-- End Modal Window -->

           <!-- Username Modal Windows -->
           <script type="text/ng-template" id="userDialog.html">
             <div class="modal-header">
               <h3 class="modal-title">Enter Username</h3>
             </div>
             <form name="userDialog" novalidate>
               <div class="modal-body form-group">
                 <input type="text" class="form-control" name="username" ng-model="username" ng-keyup="userDialog.$valid ? hitEnter($event) : false" ng-minlength=3 ng-maxlength=20 required>
               </div>
             </form>

             <div class="modal-footer">
               <button ng-disabled="userDialog.$invalid" class="btn btn-primary" ng-click="ok(username)">OK</button>
             </div>
           </script>
           <!-- End Username Window -->

          </div>
      </div>
    </div>

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="bower_components/moment/moment.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.24/angular-cookies.min.js"></script>

        <!-- Firebase -->
        <script src="https://cdn.firebase.com/js/client/2.2.4/firebase.js"></script>

        <!-- AngularFire -->
        <script src="https://cdn.firebase.com/libs/angularfire/1.1.2/angularfire.min.js"></script>
        <script src="scripts/app.js"></script>
        <!-- endbuild -->
</body>
</html>
