<!doctype html>
<html ng-app="blocChatApp">
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>
  <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">blocChat</a>
      </div>
    </div>
    <div class="container-fluid" ng-controller="RoomCtrl">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">            
              <button class="btn btn-primary btn-sm" ng-click="open()">New Room</button>
          <h2>Room List</h2>
          <ul class="nav nav-sidebar" ng-repeat="rm in rooms">
            <li><a href="#">{{ rm.name }}</a></li>
          </ul>
        </div>
          <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1>{{ room.name }}</h1>
              <script type="text/ng-template" id="roomDialog.html">
                  <div class="modal-header">
                      <h3 class="modal-title">bloc Chat</h3>
                  </div>
                  <div class="modal-body">
                      <input type="text" ng-model="room.name" placeholder="Enter a Room Name">
                  </div>
                  <div class="modal-footer">
                      <button class="btn btn-primary" ng-click="ok(room)">OK</button>
                      <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
                  </div>
              </script>

          </div>
      </div>
    </div>
        

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.min.js"></script>

        <!-- Firebase -->
        <script src="https://cdn.firebase.com/js/client/2.2.4/firebase.js"></script>

        <!-- AngularFire -->
        <script src="https://cdn.firebase.com/libs/angularfire/1.1.2/angularfire.min.js"></script>
        <script src="scripts/app.js"></script>
        <script src="scripts/controllers/room.js"></script>
        <!-- endbuild -->
</body>
</html>
